extends layout

block content
  .container
    .row
      .col-md-12
        h1= title
    hr
    form(class='mainform', action='/analysis', method='GET')
      .row
        .col-md-4
          label Enter your page URL
          input(type='text', name='url')
        .col-md-4
          label Focus keyword
          input(type='text', name='keyword')
        .col-md-2
          input(type='submit',value='Go!')

